.blur-it {
    filter: blur(4px);
}
.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(57, 57, 57, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 20;
}
.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}
.modal-bg-area{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 21;
}
.modal {
    width: 600px;
    height: max-content;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 23;
}
.modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
}
.modal-head {
    width: 100%;
    height: 32px;
    padding: 5px 20px;
    overflow: hidden;
    background: #535252;
}
.btn-modal-close {
    font-size: 20px;
    display: block;
    float: right;
    color: #fff;
}
.modal-content {
    padding: 35px;
    display: flex;
    background: #F5BF23;
    height: 100%;
}
.good-job {
    text-align: left;
    margin: auto;
}
.good-job .your-name .wpcf7-text,
.good-job .tel-224 .wpcf7-text{
    background-color: #000;
    border: 0;
    color: #fff;
    padding: 10px;
}
.good-job h2 {
    font-size: 24px;
}
.good-job .wpcf7-submit{
    border: 0;
    background: transparent;
    font-weight: 600;
    padding: 0;
}