/*custom styles for child theme*/
.services-v2{
    display: flex;
    flex-wrap: wrap;
}
.fa-angle-right::before {
    content: "\f105";
}
h4.mt-title{
    font-size:16px;
}
.mt-icon-box-wraper, .mt-icon-box-wraper .p-a30{
    height:100%;
}
.services-button-link{
    position: absolute;
    bottom: 0;
}
.services-v2 .mt-icon-box-wraper .p-a30 {
    padding: 40px 30px;
}
div.image-effect-one{
    background:#fff;
    border: 1px solid #f2f2f2;
}
div.image-effect-one:hover img{
    filter: alpha(opacity=60);
    -webkit-opacity: 0.6;
    opacity: 0.6;
}
div.image-effect-one .figcaption{
    background-color: #000000bd;
}
div.image-effect-one .figcaption h4{
    color:#fff;
}
.list-none{
    list-style: none;
}
.footer-bottom{
    padding: 20px 0;
    background: #d0d0d0;
}
.home-client-carousel-2 .owl-stage{
    display: flex;
}
.home-client-carousel-2 .owl-item{
    margin-top:auto;
    margin-bottom:auto;
}
.banner-title-name h1{
    color:#d7d7d7;
}
@media only screen and (max-width: 991px) {
    #navbarNavDropdown {
        display: block !important;
        background: #fff;
        padding: 0;
    }
}
.mt-breadcrumb, .mt-breadcrumb a{
    color:#fff;
}
.adv-services-content{
    color: #f0f0f0;
}
.experience-main-heading{
    font-size: 30px;
}
.project-detail-outer{
    font-size:16px;
}
.similar-projects .owl-item img {
    height: 300px;
    background: #eee;
}
.blog a.understrap-read-more-link,
.single a.understrap-read-more-link,
.archive a.understrap-read-more-link,
a.understrap-read-more-link
{
    display: none;
}
.page_main_content{
    margin-top:50px;
}
.google_map{
    border: none;
}
.text-right .site-button {
    padding: 0;
}
.site-button input {
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    z-index: 22;
    padding: 10px 15px;
}
a.contact-content{
    color: #fff;
    line-height: 24px;
    font-size: 13px;
}
div.wpcf7 .ajax-loader{
    position: absolute;
    right:0;
    top:30%;
}
.archive .portfolio-wrap{
    margin: 100px 15px;
}
.single h1{
    font-size: 24px;
    line-height: 30px;
}
.single .section-head{
    margin-top: 50px;
}
.single .breadcrumb-style-2 li::after,
.archive .breadcrumb-style-2 li::after{
    display: none;
}
.pagination a, .pagination  span {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #767676;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
}
.pagination a:hover,
.pagination span:hover,
.pagination a:focus,
.pagination span:focus{
    background-color: #F5BF23;
    border-color: transparent;
    color: #fff;
    z-index:2;
}
.widget-post .sidebar-post-meta{
    margin-bottom: 10px;
}
.homepage-banner{
    height:100vh;
    width:100%;
    padding-top:0;
}
.homepage-banner .hb-heading{
    color: #161616;
    text-align: left;
    line-height: 82px;
    border-width: 0;
    margin-bottom:30px;
    padding: 0;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 72px;
}
.homepage-banner p{
    color: #161616;
    text-align: inherit;
    line-height: 24px;
    border-width: 0px;
    margin: 0px 0px 24px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 20px;
}
.homepage-banner .hb-button{
    text-align: inherit;
    line-height: 20px;
    border-width: 0px;
    margin: 20px;
    padding: 10px 20px;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 14px;
}
.homepage-banner .hb-button:first-of-type{
    margin-left:0;
}
.hb-wrapper{
    display: flex;
}
.hb-content{
    margin: 10% auto auto auto;
}
a.navbar-brand{
    padding-left:0;
}
.header-info li.btn-col-last{
    padding-right:5px;
}
* :focus {
    outline: none;
}
.page-template-page-contained #main{
    padding: 0 15px;
}
.w-100{
    width:100%;
}
div div.image-effect-one .figcaption {
    background-color: #262626;
}
h1, h2, h3{
    margin-top:0;
}
