/*custom styles for child theme*/
.services-v2{
    display: flex;
    flex-wrap: wrap;
}
.fa-angle-right::before {
    content: "\f105";
}
h4.mt-title{
    font-size:16px;
}
.mt-icon-box-wraper, .mt-icon-box-wraper .p-a30{
    height:100%;
}
.services-button-link{
    position: absolute;
    bottom: 0;
}
.services-v2 .mt-icon-box-wraper .p-a30 {
    padding: 40px 30px;
}
div.image-effect-one{
    background:#fff;
    border: 1px solid #f2f2f2;
}
div.image-effect-one:hover img{
    filter: alpha(opacity=60);
    -webkit-opacity: 0.6;
    opacity: 0.6;
}
div.image-effect-one .figcaption{
    background-color: #000000bd;
}
div.image-effect-one .figcaption h4{
    color:#fff;
}
.list-none{
    list-style: none;
}
.footer-bottom{
    padding: 20px 0;
    background: #d0d0d0;
}
.home-client-carousel-2 .owl-stage{
    display: flex;
}
.home-client-carousel-2 .owl-item{
    margin-top:auto;
    margin-bottom:auto;
}
.banner-title-name h1{
    color:#d7d7d7;
}
@media only screen and (max-width: 991px) {
    #navbarNavDropdown {
        display: block !important;
        background: #fff;
        padding: 0;
    }
}
.mt-breadcrumb{
    color:#fff;
}
.adv-services-content{
    color: #f0f0f0;
}
.experience-main-heading{
    font-size: 30px;
}
.project-detail-outer{
    font-size:16px;
}